
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Match all files in 'evidence' folder
    match /evidence/{fileName} {
      allow read: if true; // Public evidence
      allow write: if request.resource.size < 5 * 1024 * 1024 // Max 5MB
                   && request.resource.contentType.matches('image/.*'); // Must be an image
    }
    
    // Match health check files
    match /_health_check/{fileName} {
      allow read: if true;
    }
  }
}
